<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Badge Backpack</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
{#    <link rel="icon" href="../../favicon.ico">#}
{#    bootstrap official example template#}
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jumbotron-narrow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">



</head>
<body>

  <div class="container img-rounded" id="main_container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right" id="nav">
            <li role="presentation" class="active"><a href="#">Badges</a></li>
            <li role="presentation"><a href="#">Display</a></li>
            <li role="presentation"><a href="#">Issue</a></li>
          </ul>
        </nav>
{#        <h3 class="text-muted">Project name</h3>#}
          <img src="{{ url_for('static', filename='logo2.jpg') }}" height="60" id="logo">
      </div>

      <div class="jumbotron" id="mainwin">
        <div class="displayTable">
            <div><img src=""</div>
            <div>Div 2</div>
            <div>Div 3</div>
            <div>Div 4</div>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->


<script src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>