<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Badge Backpack</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
{#    <link rel="icon" href="../../favicon.ico">#}
{#    bootstrap official example template#}
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jumbotron-narrow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">



</head>
<body>

  <div class="container img-rounded" id="main_container">
      <div class="header clearfix">

        <nav>
            <img src="{{ url_for('static', filename='logo2.jpg') }}" height="60" id="logo">

          <ul class="nav nav-pills pull-right" id="nav">
            <li role="presentation" class="active"><a href="#">Badges</a></li>
            <li role="presentation"><a href="/display">Display</a></li>
            <li role="presentation"><a href="/issue">Issue</a></li>
          </ul>
        </nav>
{#        <h3 class="text-muted">Project name</h3>#}
      </div>

      <div class="jumbotron" id="mainwin">
        <div class="displayTable">
            <div><img src="{{ url_for('static', filename='badgeSample.png') }}" class="badges" id="b1"></div>
            <div><img src="{{ url_for('static', filename='badgeSample.png') }}" class="badges" id="b2"></div>
            <div><img src="{{ url_for('static', filename='badgeSample.png') }}" class="badges" id="b3"></div>
            <div><img src="{{ url_for('static', filename='badgeSample.png') }}" class="badges" id="b4"></div>
        </div>
      </div>

      <div class="modal fade" id="infoMod" tabindex="-1" role="dialog" aria-labelledby="BadgeInfo">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="BadgeInfo">Badge Information</h4>
              </div>
              <div class="modal-body">
                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Description</h4>
                    <p class="list-group-item-text">This badge is awarded to (NAME) for completing a TEAM module.</p>
                  </a>

                  <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Evidence</h4>
                    <p class="list-group-item-text">Issued by director (NAME)</p>
                  </a>

                  <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Date Awarded</h4>
                    <p class="list-group-item-text">March 12, 2016</p>
                  </a>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Full Description</button>
              </div>
            </div>
          </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#infoMod" id="dummybutton">
    </button>

    </div> <!-- /container -->



<script src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>